
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Titillium+Web:wght@300&display=swap');

body{
    background-color:teal;
}

*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'Roboto Condensed', sans-serif;
    
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}
nav ul li{
    padding: 0 12px;
}
.brand img{
    height: 55px;
    padding: 0 8px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.container{
    min-height: 62vh;
    background-color: black;
    color: white;
    font-family: 'Titillium Web', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('bg.jpg');
    background-size:100%
}
.bottom{
    position: sticky;
    height: 100px;
    background-color: black;
    bottom: 0;
    display: flex;
    align-items:center ;
    justify-content: center;
    color: white;
    flex-direction: column;
}
.icons{
    margin-top: 14px;
}
.icons i {
    cursor: pointer;
}
#progressBar{
    width: 80vw;
    cursor: pointer;
}
.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    width: 100%;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;

}
.songitemcontainer{
    margin-top: 23px;
}
.timestamp{
    margin: 0 20px;

}
.timestamp i{
    cursor: pointer;
}
.songItem img{
    width: 43px;
    margin: 0 20px;
    border-radius: 12px;

}
.songinfo{
    position: absolute;
    left: 10vw;
    font-family: 'Titillium Web', sans-serif;
}
.songinfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}